In [28]:
import pandas as pd
import re
import numpy as np

In [29]:
df_main = pd.read_csv("properties_data.csv")

/tmp/ipykernel_10668/136570877.py:1: DtypeWarning: Columns (41,42,43,44,90,91,92,93,113,115) have mixed types. Specify dtype option on import or set low_memory=False.
  df_main = pd.read_csv("properties_data.csv")

In [30]:
df = df_main[["id","location","Zip","Type","Subtype",
    "Price","Transaction Type","Bedrooms","Living area","Kitchen type",
    "Furnished","How many fireplaces?","Terrace","Terrace surface",
    "Garden","Garden surface","Surface of the plot","Number of frontages",
    "Swimming pool","Building condition","Primary energy consumption","CO₂ emission"]]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19976 entries, 0 to 19975
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          19976 non-null  int64
 1   location                    19976 non-null  object
 2   Zip                         19976 non-null  int64
 3   Type                        19976 non-null  object
 4   Subtype                     19976 non-null  object
 5   Price                       19976 non-null  object
 6   Transaction Type            19976 non-null  object
 7   Bedrooms                    18318 non-null  float64
 8   Living area                 18030 non-null  object
 9   Kitchen type                14543 non-null  object
 10  Furnished                   10000 non-null  object
 11  How many fireplaces?        1013 non-null   float64
 12  Terrace                     4502 non-null   object
 13  Terrace surface             8666 non-null   object
 14  Garden                      2285 non-null   object
 15  Garden surface              4716 non-null   object
 16  Surface of the plot         9292 non-null   object
 17  Number of frontages         14236 non-null  float64
 18  Swimming pool               8139 non-null   object
 19  Building condition          15700 non-null  object
 20  Primary energy consumption  19976 non-null  object
 21  CO₂ emission                19976 non-null  object
dtypes: float64(3), int64(2), object(17)
memory usage: 3.4+ MB

In [32]:
df = df.set_index("id")

In [33]:
df = df.drop(df[df["Type"]=="house group"].index)
df = df.drop(df[df["Type"]=="apartment group"].index)

In [34]:
def clean_and_convert(column):
    column = column.apply(lambda x: re.sub('\D+', '', str(x)))
    # column = column.replace('', np.nan).fillna(0).astype(int)
    return column

df['Living area'] = clean_and_convert(df['Living area'])
df['Terrace surface'] = clean_and_convert(df['Terrace surface'])
df['Garden surface'] = clean_and_convert(df['Garden surface'])
df['Surface of the plot'] = clean_and_convert(df['Surface of the plot'])
df['Primary energy consumption'] = clean_and_convert(df['Primary energy consumption'])
df['CO₂ emission'] = clean_and_convert(df['CO₂ emission'])

In [35]:
df

,location,Zip,Type,Subtype,Price,Transaction Type,Bedrooms,Living area,Kitchen type,Furnished,...,Terrace,Terrace surface,Garden,Garden surface,Surface of the plot,Number of frontages,Swimming pool,Building condition,Primary energy consumption,CO₂ emission
id,,,,,,,,,,,,,,,,,,,,,
10578809,liedekerke,1770,house,house,349000,for sale,3.0,180,Hyper equipped,No,...,NaN,25,NaN,150,256,2.0,NaN,As new,241,
10578941,sint-andries,8200,house,house,625000,for sale,3.0,185,Hyper equipped,No,...,NaN,,NaN,400,539,3.0,No,As new,292,
10577515,seraing,4100,house,house,149000,for sale,2.0,105,Semi equipped,No,...,Yes,,NaN,25,105,2.0,NaN,Good,469,8321
10577846,andenne,5300,house,house,335000,for sale,4.0,209,Installed,NaN,...,Yes,,Yes,,2185,4.0,NaN,Good,196,41
10523130,forest,1190,house,house,545000,for sale,4.0,254,USA installed,NaN,...,NaN,45,NaN,,260,2.0,No,To be done up,517,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9577413,sint-truiden,3800,apartment,apartment,284900,for sale,2.0,98,NaN,NaN,...,NaN,18,Yes,,,NaN,No,NaN,,
10563952,nieuwpoort,8620,apartment,apartment,299000,for sale,2.0,43,Hyper equipped,Yes,...,Yes,,NaN,,,NaN,No,NaN,318,
9577415,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,103,NaN,NaN,...,NaN,17,Yes,,,NaN,No,NaN,,
9577414,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,94,NaN,NaN,...,NaN,16,NaN,135,,NaN,No,NaN,,
9577410,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,97,NaN,NaN,...,NaN,27,NaN,83,,NaN,No,NaN,,

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18665 entries, 10578809 to 9577410
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    18665 non-null  object
 1   Zip                         18665 non-null  int64
 2   Type                        18665 non-null  object
 3   Subtype                     18665 non-null  object
 4   Price                       18665 non-null  object
 5   Transaction Type            18665 non-null  object
 6   Bedrooms                    18318 non-null  float64
 7   Living area                 18665 non-null  object
 8   Kitchen type                14543 non-null  object
 9   Furnished                   10000 non-null  object
 10  How many fireplaces?        1013 non-null   float64
 11  Terrace                     4502 non-null   object
 12  Terrace surface             18665 non-null  object
 13  Garden                      2285 non-null   object
 14  Garden surface              18665 non-null  object
 15  Surface of the plot         18665 non-null  object
 16  Number of frontages         14236 non-null  float64
 17  Swimming pool               8139 non-null   object
 18  Building condition          15700 non-null  object
 19  Primary energy consumption  18665 non-null  object
 20  CO₂ emission                18665 non-null  object
dtypes: float64(3), int64(1), object(17)
memory usage: 3.1+ MB

In [43]:
# Mapping dictionary for replacing values in the "kitchen" column
kitchen_mapping = {
    np.nan: -1,
    'Not installed': 0,
    'Installed': 1,
    'Semi equipped': 2,
    'Hyper equipped': 3,
    'USA uninstalled' :0,
    'USA installed': 1,
    'USA semi equipped': 2,
    'USA hyper equipped' :3
}

In [44]:
# Replace values in the "Kitchen type" column with corresponding numbers and create a new column called "Kitchen values"
df['Kitchen values'] = df['Kitchen type'].map(kitchen_mapping).fillna(df['Kitchen type']).astype(int)

In [45]:
# Verify the updated "Kitchen" columns
print(df[['Kitchen type', 'Kitchen values']])

            Kitchen type  Kitchen values
id
10578809  Hyper equipped               3
10578941  Hyper equipped               3
10577515   Semi equipped               2
10577846       Installed               1
10523130   USA installed               1
...                  ...             ...
9577413              NaN              -1
10563952  Hyper equipped               3
9577415              NaN              -1
9577414              NaN              -1
9577410              NaN              -1

[18665 rows x 2 columns]