In [254]:
import pandas as pd
import re
import numpy as np
import matplotlib

In [255]:
df_main = pd.read_csv("properties_data.csv")

/var/folders/lh/rbpzcs3522qg45v9lc_xvgyc0000gn/T/ipykernel_80076/136570877.py:1: DtypeWarning: Columns (41,42,43,44,90,91,92,93,113,115) have mixed types. Specify dtype option on import or set low_memory=False.
  df_main = pd.read_csv("properties_data.csv")

In [256]:
df = df_main[["id","location","Zip","Type","Subtype",
    "Price","Transaction Type","Bedrooms","Living area","Kitchen type",
    "Furnished","How many fireplaces?","Terrace","Terrace surface",
    "Garden","Garden surface","Surface of the plot","Number of frontages",
    "Swimming pool","Building condition","Primary energy consumption","CO₂ emission"]]

In [257]:
df = df.set_index("id")

In [258]:
df = df.drop(df[df["Type"]=="house group"].index)
df = df.drop(df[df["Type"]=="apartment group"].index)

In [259]:
def clean_and_convert(column):
    column = column.apply(lambda x: re.sub('\D+', '', str(x)))
    column = column.replace('', np.nan)
    # column = column.replace('', np.nan).fillna(0).astype(int)
    return column

df['Living area'] = clean_and_convert(df['Living area'])
df['Terrace surface'] = clean_and_convert(df['Terrace surface'])
df['Garden surface'] = clean_and_convert(df['Garden surface'])
df['Surface of the plot'] = clean_and_convert(df['Surface of the plot'])
df['Primary energy consumption'] = clean_and_convert(df['Primary energy consumption'])
df['CO₂ emission'] = clean_and_convert(df['CO₂ emission'])

In [262]:
df["Garden"] = np.where((df["Garden"] == "Yes") & (df["Garden surface"] == ""), 1, df["Garden"])
df["Garden"] = np.where((df["Garden"] != "Yes") & (df["Garden surface"] != ""), 1, df["Garden"])
df["Garden"] = df["Garden"].replace("",np.nan).fillna(0)

In [263]:
df["Terrace"] = np.where((df["Terrace"] == "Yes") & (df["Terrace surface"] == ""), 1, df["Terrace"])
df["Terrace"] = np.where((df["Terrace"] != "Yes") & (df["Terrace surface"] != ""), 1, df["Terrace"])
df["Terrace"] = df["Terrace"].replace("",np.nan).fillna(0)

In [264]:
df

,location,Zip,Type,Subtype,Price,Transaction Type,Bedrooms,Living area,Kitchen type,Furnished,...,Terrace,Terrace surface,Garden,Garden surface,Surface of the plot,Number of frontages,Swimming pool,Building condition,Primary energy consumption,CO₂ emission
id,,,,,,,,,,,,,,,,,,,,,
10578809,liedekerke,1770,house,house,349000,for sale,3.0,180,Hyper equipped,No,...,1,25,1,150,256,2.0,NaN,As new,241,NaN
10578941,sint-andries,8200,house,house,625000,for sale,3.0,185,Hyper equipped,No,...,1,NaN,1,400,539,3.0,No,As new,292,NaN
10577515,seraing,4100,house,house,149000,for sale,2.0,105,Semi equipped,No,...,Yes,NaN,1,25,105,2.0,NaN,Good,469,8321
10577846,andenne,5300,house,house,335000,for sale,4.0,209,Installed,NaN,...,Yes,NaN,Yes,NaN,2185,4.0,NaN,Good,196,41
10523130,forest,1190,house,house,545000,for sale,4.0,254,USA installed,NaN,...,1,45,1,NaN,260,2.0,No,To be done up,517,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9577413,sint-truiden,3800,apartment,apartment,284900,for sale,2.0,98,NaN,NaN,...,1,18,Yes,NaN,NaN,NaN,No,NaN,NaN,NaN
10563952,nieuwpoort,8620,apartment,apartment,299000,for sale,2.0,43,Hyper equipped,Yes,...,Yes,NaN,1,NaN,NaN,NaN,No,NaN,318,NaN
9577415,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,103,NaN,NaN,...,1,17,Yes,NaN,NaN,NaN,No,NaN,NaN,NaN
9577414,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,94,NaN,NaN,...,1,16,1,135,NaN,NaN,No,NaN,NaN,NaN
9577410,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,97,NaN,NaN,...,1,27,1,83,NaN,NaN,No,NaN,NaN,NaN

In [265]:
def nan_replacement(column):
    column = column.replace("Yes",1)
    column = column.replace("No",0)
    column = column.replace('', np.nan).fillna(0)
    # column = column.fillna('Unknown')
    # df['column name'] = df['column name'].replace(['old value'], 'new value')
    return column

df['Furnished'] = nan_replacement(df['Furnished'])
df['Swimming pool'] = nan_replacement(df['Swimming pool'])
df['How many fireplaces?'] = nan_replacement(df['How many fireplaces?'])

In [266]:
df

,location,Zip,Type,Subtype,Price,Transaction Type,Bedrooms,Living area,Kitchen type,Furnished,...,Terrace,Terrace surface,Garden,Garden surface,Surface of the plot,Number of frontages,Swimming pool,Building condition,Primary energy consumption,CO₂ emission
id,,,,,,,,,,,,,,,,,,,,,
10578809,liedekerke,1770,house,house,349000,for sale,3.0,180,Hyper equipped,0.0,...,1,25,1,150,256,2.0,0.0,As new,241,NaN
10578941,sint-andries,8200,house,house,625000,for sale,3.0,185,Hyper equipped,0.0,...,1,NaN,1,400,539,3.0,0.0,As new,292,NaN
10577515,seraing,4100,house,house,149000,for sale,2.0,105,Semi equipped,0.0,...,Yes,NaN,1,25,105,2.0,0.0,Good,469,8321
10577846,andenne,5300,house,house,335000,for sale,4.0,209,Installed,0.0,...,Yes,NaN,Yes,NaN,2185,4.0,0.0,Good,196,41
10523130,forest,1190,house,house,545000,for sale,4.0,254,USA installed,0.0,...,1,45,1,NaN,260,2.0,0.0,To be done up,517,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9577413,sint-truiden,3800,apartment,apartment,284900,for sale,2.0,98,NaN,0.0,...,1,18,Yes,NaN,NaN,NaN,0.0,NaN,NaN,NaN
10563952,nieuwpoort,8620,apartment,apartment,299000,for sale,2.0,43,Hyper equipped,1.0,...,Yes,NaN,1,NaN,NaN,NaN,0.0,NaN,318,NaN
9577415,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,103,NaN,0.0,...,1,17,Yes,NaN,NaN,NaN,0.0,NaN,NaN,NaN
9577414,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,94,NaN,0.0,...,1,16,1,135,NaN,NaN,0.0,NaN,NaN,NaN
9577410,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,97,NaN,0.0,...,1,27,1,83,NaN,NaN,0.0,NaN,NaN,NaN

In [267]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18665 entries, 10578809 to 9577410
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    18665 non-null  object
 1   Zip                         18665 non-null  int64
 2   Type                        18665 non-null  object
 3   Subtype                     18665 non-null  object
 4   Price                       18665 non-null  object
 5   Transaction Type            18665 non-null  object
 6   Bedrooms                    18318 non-null  float64
 7   Living area                 18030 non-null  object
 8   Kitchen type                14543 non-null  object
 9   Furnished                   18665 non-null  float64
 10  How many fireplaces?        18665 non-null  float64
 11  Terrace                     18665 non-null  object
 12  Terrace surface             8666 non-null   object
 13  Garden                      18665 non-null  object
 14  Garden surface              4716 non-null   object
 15  Surface of the plot         9292 non-null   object
 16  Number of frontages         14236 non-null  float64
 17  Swimming pool               18665 non-null  float64
 18  Building condition          15700 non-null  object
 19  Primary energy consumption  16016 non-null  object
 20  CO₂ emission                5656 non-null   object
dtypes: float64(5), int64(1), object(15)
memory usage: 3.1+ MB

In [ ]:
type_change = {"Price":"int",
                "Bedrooms":"int",
                "Living area":"int",
                "Terrace surface":"int",
                "Garden surface":"int","Surface of the plot":"int",
                "Number of frontages":"int","Primary energy consumption":"int",
                "CO₂ emission":"int"}

df = df.notna().astype(type_change)

def change_type(column):
    column = column.fillna(-1)
    column = column.astype(int)
    column = column.replace('-1', np.nan)
    return

In [ ]:
df[df["Bedrooms"].isna()==True].groupby(["Subtype"]).agg("count")

,location,Zip,Type,Price,Transaction Type,Bedrooms,Living area,Kitchen type,Furnished,How many fireplaces?,Terrace,Terrace surface,Garden,Garden surface,Surface of the plot,Number of frontages,Swimming pool,Building condition,Primary energy consumption,CO₂ emission
Subtype,,,,,,,,,,,,,,,,,,,,
apartment,21,21,21,21,21,0,21,5,21,21,21,21,21,21,21,18,21,16,21,21
apartment block,34,34,34,34,34,0,34,18,34,34,34,34,34,34,34,32,34,33,34,34
chalet,1,1,1,1,1,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1
duplex,2,2,2,2,2,0,2,0,2,2,2,2,2,2,2,0,2,2,2,2
flat studio,243,243,243,243,243,0,243,167,243,243,243,243,243,243,243,138,243,194,243,243
ground floor,3,3,3,3,3,0,3,1,3,3,3,3,3,3,3,3,3,1,3,3
house,8,8,8,8,8,0,8,2,8,8,8,8,8,8,8,6,8,7,8,8
kot,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
loft,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
mansion,1,1,1,1,1,0,1,0,1,1,1,1,1,1,1,0,1,0,1,1
mixed use building,25,25,25,25,25,0,25,15,25,25,25,25,25,25,25,23,25,22,25,25
other property,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
penthouse,2,2,2,2,2,0,2,1,2,2,2,2,2,2,2,1,2,2,2,2
service flat,1,1,1,1,1,0,1,0,1,1,1,1,1,1,1,1,1,0,1,1
triplex,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2
villa,1,1,1,1,1,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1

In [ ]:
df.groupby(['Type','Subtype'])[['Type','Subtype']].agg("count")

                                Type  Subtype
Type      Subtype
apartment apartment             6654     6654
          duplex                 588      588
          flat studio            351      351
          ground floor           455      455
          kot                     25       25
          loft                    99       99
          penthouse              491      491
          service flat           123      123
          triplex                 54       54
house     apartment block        477      477
          bungalow                94       94
          castle                  14       14
          chalet                  19       19
          country cottage        114      114
          exceptional property   235      235
          farmhouse               40       40
          house                 6952     6952
          manor house             30       30
          mansion                207      207
          mixed use building     363      363
          other property          17       17
          town house             117      117
          villa                 1146     1146

In [ ]:
df1 = df.drop (['area_type', 'society', 'balcony', 'availability'], axis="columns")