In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("properties_data.csv")

/var/folders/lh/rbpzcs3522qg45v9lc_xvgyc0000gn/T/ipykernel_80076/643612140.py:1: DtypeWarning: Columns (41,42,43,44,90,91,92,93,113,115) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("properties_data.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19976 entries, 0 to 19975
Columns: 127 entries, id to Number of floors
dtypes: float64(18), int64(2), object(107)
memory usage: 19.4+ MB

In [9]:
df.describe()

,id,Unnamed: 13,Zip,Construction year,Number of frontages,Covered parking spaces,Outdoor parking spaces,Bedrooms,Bathrooms,Toilets,Shower rooms,E-level (overall energy performance),How many fireplaces?,Number of annexes,Number of annuitants,Age of annuitant,Current monthly revenue,Percentage rented,Floor,Number of floors
count,1.997600e+04,0.0,19976.000000,13125.000000,14236.000000,8300.000000,6701.000000,18318.000000,16399.000000,15848.000000,5226.000000,1.811000e+03,1013.000000,156.000000,49.000000,16.00000,57.000000,12.000000,6572.000000,6003.000000
mean,1.039741e+07,NaN,4844.333650,1975.816838,2.765454,20.222410,4.706462,3.029752,1.481981,1.849445,1.610027,5.843522e+03,1.061204,1.250000,1.612245,73.25000,4931.561404,77.083333,3.771150,4.638181
std,2.840569e+05,NaN,3177.310798,81.367039,0.922034,1345.426792,27.168374,1.657901,1.106766,1.259501,3.816339,4.293747e+04,0.414897,0.528235,0.492287,7.92885,9390.079718,30.634082,27.595425,3.463143
min,6.770722e+06,NaN,1000.000000,1753.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-1.000000,-2.000000e+01,1.000000,1.000000,1.000000,65.00000,550.000000,20.000000,1.000000,1.000000
25%,1.036985e+07,NaN,1640.000000,1956.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,3.000000e+01,1.000000,1.000000,1.000000,67.50000,1175.000000,57.500000,1.000000,3.000000
50%,1.049081e+07,NaN,4101.000000,1978.000000,2.000000,1.000000,2.000000,3.000000,1.000000,2.000000,1.000000,6.500000e+01,1.000000,1.000000,2.000000,71.00000,1750.000000,95.000000,2.000000,4.000000
75%,1.054595e+07,NaN,8370.000000,2011.000000,4.000000,2.000000,4.000000,4.000000,2.000000,2.000000,2.000000,3.110000e+02,1.000000,1.000000,2.000000,77.50000,3295.000000,100.000000,4.000000,6.000000
max,1.057969e+07,NaN,9992.000000,9999.000000,25.000000,120000.000000,2017.000000,39.000000,30.000000,30.000000,180.000000,1.679990e+06,10.000000,4.000000,2.000000,93.00000,57000.000000,100.000000,999.000000,43.000000

In [10]:
df.head()

,id,Available as of,Available date,Neighbourhood or locality,Primary energy consumption,Energy class,Reference number of the EPC report,CO₂ emission,Yearly theoretical total energy consumption,Planning permission obtained,...,Age of annuitants,EPC description,Percentage rented,Venue of the sale,Single session,Terms of visit,Starting price,Sea view,Floor,Number of floors
0,10578183,At delivery,January 15 2024 - 12:00 AM,Oost-Vlaanderen,Not specified,Not specified,Not specified,Not specified,Not specified,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10578809,After signing the deed,NaN,NaN,241 kWh/m² kilowatt hour per square meters,C,2149178,Not specified,Not specified,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10578941,NaN,October 1 2023 - 12:00 AM,NaN,292 kWh/m² kilowatt hour per square meters,C,20230505-0002321399-RES-2,Not specified,Not specified,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10577515,To be defined,August 31 2023 - 12:00 AM,Grand Liège,469 kWh/m² kilowatt hour per square meters,F,Not specified,8321 kg CO₂/m²,45861 kWh/year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10577846,NaN,NaN,NaN,196 kWh/m² kilowatt hour per square meters,C,20230218009533,41 kg CO₂/m²,43000 kWh/year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.columns

Index(['id', 'Available as of', 'Available date', 'Neighbourhood or locality',
       'Primary energy consumption', 'Energy class',
       'Reference number of the EPC report', 'CO₂ emission',
       'Yearly theoretical total energy consumption',
       'Planning permission obtained',
       ...
       'Age of annuitants', 'EPC description', 'Percentage rented',
       'Venue of the sale', 'Single session', 'Terms of visit',
       'Starting price', 'Sea view', 'Floor', 'Number of floors'],
      dtype='object', length=127)

In [47]:
sub_df = df[["id","location","Zip","Type","Subtype",
    "Price","Transaction Type","Bedrooms","Living area","Kitchen type",
    "Furnished","How many fireplaces?","Terrace","Terrace surface",
    "Garden","Garden surface","Surface of the plot","Number of frontages",
    "Swimming pool","Building condition"]]

In [48]:
sub_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19976 entries, 0 to 19975
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    19976 non-null  int64
 1   location              19976 non-null  object
 2   Zip                   19976 non-null  int64
 3   Type                  19976 non-null  object
 4   Subtype               19976 non-null  object
 5   Price                 19976 non-null  object
 6   Transaction Type      19976 non-null  object
 7   Bedrooms              18318 non-null  float64
 8   Living area           18030 non-null  object
 9   Kitchen type          14543 non-null  object
 10  Furnished             10000 non-null  object
 11  How many fireplaces?  1013 non-null   float64
 12  Terrace               4502 non-null   object
 13  Terrace surface       8666 non-null   object
 14  Garden                2285 non-null   object
 15  Garden surface        4716 non-null   object
 16  Surface of the plot   9292 non-null   object
 17  Number of frontages   14236 non-null  float64
 18  Swimming pool         8139 non-null   object
 19  Building condition    15700 non-null  object
dtypes: float64(3), int64(2), object(15)
memory usage: 3.0+ MB

In [49]:
sub_df = sub_df.set_index("id")

In [50]:
new_df = sub_df.drop(sub_df[sub_df["Type"]=="house group"].index)

In [51]:
new_df = new_df.drop(new_df[new_df["Type"]=="apartment group"].index)

In [52]:
new_df.to_csv("new.csv")