In [182]:
import pandas as pd
import re
import numpy as np

In [183]:
df_main = pd.read_csv("properties_data.csv")

/var/folders/lh/rbpzcs3522qg45v9lc_xvgyc0000gn/T/ipykernel_80076/136570877.py:1: DtypeWarning: Columns (41,42,43,44,90,91,92,93,113,115) have mixed types. Specify dtype option on import or set low_memory=False.
  df_main = pd.read_csv("properties_data.csv")

In [184]:
df = df_main[["id","location","Zip","Type","Subtype",
    "Price","Transaction Type","Bedrooms","Living area","Kitchen type",
    "Furnished","How many fireplaces?","Terrace","Terrace surface",
    "Garden","Garden surface","Surface of the plot","Number of frontages",
    "Swimming pool","Building condition","Primary energy consumption","CO₂ emission"]]

In [185]:
df = df.set_index("id")

In [186]:
df = df.drop(df[df["Type"]=="house group"].index)
df = df.drop(df[df["Type"]=="apartment group"].index)

In [187]:
def clean_and_convert(column):
    column = column.apply(lambda x: re.sub('\D+', '', str(x)))
    # column = column.replace('', np.nan).fillna(0).astype(int)
    return column

df['Living area'] = clean_and_convert(df['Living area'])
df['Terrace surface'] = clean_and_convert(df['Terrace surface'])
df['Garden surface'] = clean_and_convert(df['Garden surface'])
df['Surface of the plot'] = clean_and_convert(df['Surface of the plot'])
df['Primary energy consumption'] = clean_and_convert(df['Primary energy consumption'])
df['CO₂ emission'] = clean_and_convert(df['CO₂ emission'])

In [188]:
df["Garden"] = np.where((df["Garden"] == "Yes") & (df["Garden surface"] == ""), 1, df["Garden"])
df["Garden"] = np.where((df["Garden"] != "Yes") & (df["Garden surface"] != ""), 1, df["Garden"])
df["Garden"] = df["Garden"].replace("",np.nan).fillna(0).astype(int)

In [189]:
df["Terrace"] = np.where((df["Terrace"] == "Yes") & (df["Terrace surface"] == ""), 1, df["Terrace"])
df["Terrace"] = np.where((df["Terrace"] != "Yes") & (df["Terrace surface"] != ""), 1, df["Terrace"])
df["Terrace"] = df["Terrace"].replace("",np.nan).fillna(0).astype(int)

In [190]:
df

,location,Zip,Type,Subtype,Price,Transaction Type,Bedrooms,Living area,Kitchen type,Furnished,...,Terrace,Terrace surface,Garden,Garden surface,Surface of the plot,Number of frontages,Swimming pool,Building condition,Primary energy consumption,CO₂ emission
id,,,,,,,,,,,,,,,,,,,,,
10578809,liedekerke,1770,house,house,349000,for sale,3.0,180,Hyper equipped,No,...,1,25,1,150,256,2.0,NaN,As new,241,
10578941,sint-andries,8200,house,house,625000,for sale,3.0,185,Hyper equipped,No,...,0,,1,400,539,3.0,No,As new,292,
10577515,seraing,4100,house,house,149000,for sale,2.0,105,Semi equipped,No,...,1,,1,25,105,2.0,NaN,Good,469,8321
10577846,andenne,5300,house,house,335000,for sale,4.0,209,Installed,NaN,...,1,,1,,2185,4.0,NaN,Good,196,41
10523130,forest,1190,house,house,545000,for sale,4.0,254,USA installed,NaN,...,1,45,0,,260,2.0,No,To be done up,517,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9577413,sint-truiden,3800,apartment,apartment,284900,for sale,2.0,98,NaN,NaN,...,1,18,1,,,NaN,No,NaN,,
10563952,nieuwpoort,8620,apartment,apartment,299000,for sale,2.0,43,Hyper equipped,Yes,...,1,,0,,,NaN,No,NaN,318,
9577415,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,103,NaN,NaN,...,1,17,1,,,NaN,No,NaN,,
9577414,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,94,NaN,NaN,...,1,16,1,135,,NaN,No,NaN,,
9577410,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,97,NaN,NaN,...,1,27,1,83,,NaN,No,NaN,,

In [198]:
def nan_replacement(column):
    column = column.replace("Yes",1)
    column = column.replace("No",0)
    column = column.replace('', np.nan).fillna(0)
    # column = column.fillna('Unknown')
    # df['column name'] = df['column name'].replace(['old value'], 'new value')
    return column

df['Furnished'] = nan_replacement(df['Furnished'])
df['Swimming pool'] = nan_replacement(df['Swimming pool'])
df['How many fireplaces?'] = nan_replacement(df['How many fireplaces?'])

In [199]:
df

,location,Zip,Type,Subtype,Price,Transaction Type,Bedrooms,Living area,Kitchen type,Furnished,...,Terrace,Terrace surface,Garden,Garden surface,Surface of the plot,Number of frontages,Swimming pool,Building condition,Primary energy consumption,CO₂ emission
id,,,,,,,,,,,,,,,,,,,,,
10578809,liedekerke,1770,house,house,349000,for sale,3.0,180,Hyper equipped,0.0,...,1,25,1,150,256,2.0,0.0,As new,241,
10578941,sint-andries,8200,house,house,625000,for sale,3.0,185,Hyper equipped,0.0,...,0,,1,400,539,3.0,0.0,As new,292,
10577515,seraing,4100,house,house,149000,for sale,2.0,105,Semi equipped,0.0,...,1,,1,25,105,2.0,0.0,Good,469,8321
10577846,andenne,5300,house,house,335000,for sale,4.0,209,Installed,0.0,...,1,,1,,2185,4.0,0.0,Good,196,41
10523130,forest,1190,house,house,545000,for sale,4.0,254,USA installed,0.0,...,1,45,0,,260,2.0,0.0,To be done up,517,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9577413,sint-truiden,3800,apartment,apartment,284900,for sale,2.0,98,NaN,0.0,...,1,18,1,,,NaN,0.0,NaN,,
10563952,nieuwpoort,8620,apartment,apartment,299000,for sale,2.0,43,Hyper equipped,1.0,...,1,,0,,,NaN,0.0,NaN,318,
9577415,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,103,NaN,0.0,...,1,17,1,,,NaN,0.0,NaN,,
9577414,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,94,NaN,0.0,...,1,16,1,135,,NaN,0.0,NaN,,
9577410,sint-truiden,3800,apartment,apartment,299900,for sale,2.0,97,NaN,0.0,...,1,27,1,83,,NaN,0.0,NaN,,