In [354]:
import pandas as pd
import re
import numpy as np
import matplotlib

In [355]:
df_main = pd.read_csv("properties_data.csv")

/var/folders/lh/rbpzcs3522qg45v9lc_xvgyc0000gn/T/ipykernel_80076/136570877.py:1: DtypeWarning: Columns (41,42,43,44,90,91,92,93,113,115) have mixed types. Specify dtype option on import or set low_memory=False.
  df_main = pd.read_csv("properties_data.csv")

In [356]:
df = df_main[["id","location","Zip","Type","Subtype",
    "Price","Transaction Type","Bedrooms","Living area","Kitchen type",
    "Furnished","How many fireplaces?","Terrace","Terrace surface",
    "Garden","Garden surface","Surface of the plot","Number of frontages",
    "Swimming pool","Building condition","Primary energy consumption","CO₂ emission"]]

In [357]:
df = df.set_index("id")

In [358]:
df = df.drop(df[df["Type"]=="house group"].index)
df = df.drop(df[df["Type"]=="apartment group"].index)

In [359]:
def clean_and_convert(column):
    column = column.apply(lambda x: re.sub('\D+', '', str(x)))
    column = column.replace('', np.nan)
    # column = column.replace('', np.nan).fillna(0).astype(int)
    return column

df['Living area'] = clean_and_convert(df['Living area'])
df['Terrace surface'] = clean_and_convert(df['Terrace surface'])
df['Garden surface'] = clean_and_convert(df['Garden surface'])
df['Surface of the plot'] = clean_and_convert(df['Surface of the plot'])
df['Primary energy consumption'] = clean_and_convert(df['Primary energy consumption'])
df['CO₂ emission'] = clean_and_convert(df['CO₂ emission'])

In [360]:
df["Garden"] = np.where((df["Garden"] == "Yes") & (df["Garden surface"] == ""), 1, df["Garden"])
df["Garden"] = np.where((df["Garden"] != "Yes") & (df["Garden surface"] != ""), 1, df["Garden"])
df["Garden"] = df["Garden"].replace("",np.nan).fillna(0)

In [361]:
df["Terrace"] = np.where((df["Terrace"] == "Yes") & (df["Terrace surface"] == ""), 1, df["Terrace"])
df["Terrace"] = np.where((df["Terrace"] != "Yes") & (df["Terrace surface"] != ""), 1, df["Terrace"])
df["Terrace"] = df["Terrace"].replace("",np.nan).fillna(0)

In [374]:
# df["Garden surface"] = np.where((df["Garden"] == 0), 0, df["Garden surface"])
# df["Terrace surface"] = np.where((df["Terrace"] == 0), 0, df["Terrace surface"])

In [364]:
def nan_replacement(column):
    column = column.replace("Yes",1)
    column = column.replace("No",0)
    column = column.replace('', np.nan).fillna(0)
    return column

df['Furnished'] = nan_replacement(df['Furnished'])
df['Swimming pool'] = nan_replacement(df['Swimming pool'])
df['How many fireplaces?'] = nan_replacement(df['How many fireplaces?'])

In [365]:
df["Price"] = df["Price"].astype(int)

In [368]:
type_change = {"Price":"int",
                "Bedrooms":"float",
                "Living area":"float",
                "Terrace surface":"float",
                "Garden surface":"float","Surface of the plot":"float",
                "Number of frontages":"float","Primary energy consumption":"float",
                "CO₂ emission":"float"}

df = df.astype(type_change)

In [372]:
df.groupby(['Type','Subtype'])[['Type','Subtype']].agg("count")

                                Type  Subtype
Type      Subtype
apartment apartment             6654     6654
          duplex                 588      588
          flat studio            351      351
          ground floor           455      455
          kot                     25       25
          loft                    99       99
          penthouse              491      491
          service flat           123      123
          triplex                 54       54
house     apartment block        477      477
          bungalow                94       94
          castle                  14       14
          chalet                  19       19
          country cottage        114      114
          exceptional property   235      235
          farmhouse               40       40
          house                 6952     6952
          manor house             30       30
          mansion                207      207
          mixed use building     363      363
          other property          17       17
          town house             117      117
          villa                 1146     1146

In [376]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18665 entries, 10578809 to 9577410
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    18665 non-null  object
 1   Zip                         18665 non-null  int64
 2   Type                        18665 non-null  object
 3   Subtype                     18665 non-null  object
 4   Price                       18665 non-null  int64
 5   Transaction Type            18665 non-null  object
 6   Bedrooms                    18318 non-null  float64
 7   Living area                 18030 non-null  float64
 8   Kitchen type                14543 non-null  object
 9   Furnished                   18665 non-null  float64
 10  How many fireplaces?        18665 non-null  float64
 11  Terrace                     18665 non-null  object
 12  Terrace surface             8666 non-null   float64
 13  Garden                      18665 non-null  object
 14  Garden surface              4716 non-null   float64
 15  Surface of the plot         9292 non-null   float64
 16  Number of frontages         14236 non-null  float64
 17  Swimming pool               18665 non-null  float64
 18  Building condition          15700 non-null  object
 19  Primary energy consumption  16016 non-null  float64
 20  CO₂ emission                5656 non-null   float64
dtypes: float64(11), int64(2), object(8)
memory usage: 3.1+ MB

In [377]:
df.isna().sum()

location                          0
Zip                               0
Type                              0
Subtype                           0
Price                             0
Transaction Type                  0
Bedrooms                        347
Living area                     635
Kitchen type                   4122
Furnished                         0
How many fireplaces?              0
Terrace                           0
Terrace surface                9999
Garden                            0
Garden surface                13949
Surface of the plot            9373
Number of frontages            4429
Swimming pool                     0
Building condition             2965
Primary energy consumption     2649
CO₂ emission                  13009
dtype: int64