In [9]:
import pandas as pd
import urllib.parse
import re
import numpy as np

df = pd.read_csv('properties_data.csv')
df = df.drop_duplicates(subset='id')
df = df.drop(df[df["Type"].isin(["house group", "apartment group"])].index)

filtered_columns = ['id','location', 'Number of frontages', 'Type', 'Subtype', 
           'Price', 'Transaction Type', 'Bedrooms', 'Living area', 
           'Kitchen type', 'Furnished', 'How many fireplaces?', 'Terrace surface', 
           'Garden surface', 'Surface of the plot', 'Swimming pool', 'Building condition']
df = df[filtered_columns]

df = df.rename(columns={
    'location' :'Locality',
    'Transaction Type' : 'Type of sale',
    'Type' :'Type of property',
    'Subtype' : 'Subtype of property',
    'Number of frontages': 'Number of facades',
    'Bedrooms':'Number of rooms',
    'Surface of the plot' :'Surface of the land',
    'Garden surface':'Garden', 
    'Terrace surface':'Terrace',
    'Kitchen type' : 'Fully equipped kitchen',
    'How many fireplaces?' : 'Open fire'
})

#put the columns in a specific order
df = df.reindex(columns=['id', 'Locality', 'Type of property', 'Subtype of property',
                         'Type of sale', 'Price', 'Number of facades', 'Number of rooms', 
                         'Living area', 'Fully equipped kitchen', 'Furnished', 
                         'Surface of the land', 'Terrace', 'Garden', 'Open fire', 
                         'Swimming pool'])

def clean_and_convert(column):
    column = column.apply(lambda x: re.sub('\D+', '', str(x)))
    column = column.replace('', np.nan).fillna(0).astype(int)
    return column

df['Locality'] = df['Locality'].apply(urllib.parse.unquote)

df['Living area'] = clean_and_convert(df['Living area'])
df['Terrace'] = clean_and_convert(df['Terrace'])
df['Garden'] = clean_and_convert(df['Garden'])
df['Surface of the land'] = clean_and_convert(df['Surface of the land'])

df.to_csv('properties_clean.csv', index=False)

/tmp/ipykernel_1948/223106097.py:6: DtypeWarning: Columns (41,42,43,44,90,91,92,93,113,115) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('properties_data.csv')

df.describe()

In [8]:
df.describe()

,id,Number of facades,Number of rooms,Living area,Surface of the land,Terrace,Garden,Open fire
count,1.866300e+04,14235.000000,18316.000000,18663.000000,18663.000000,18663.000000,18663.000000,1013.000000
mean,1.042080e+07,2.765508,3.029646,179.471093,697.502384,13.241012,275.565343,1.061204
std,2.310011e+05,0.922045,1.657928,1297.974308,5669.115053,41.126757,7159.381176,0.414897
min,7.710166e+06,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.038658e+07,2.000000,2.000000,90.000000,0.000000,0.000000,0.000000,1.000000
50%,1.049557e+07,2.000000,3.000000,134.000000,0.000000,0.000000,0.000000,1.000000
75%,1.054716e+07,4.000000,4.000000,202.000000,460.000000,16.000000,1.000000,1.000000
max,1.057969e+07,25.000000,39.000000,175173.000000,500000.000000,3286.000000,900000.000000,10.000000