In [9]:
import pandas as pd
import matplotlib as mpl
import numpy as np

In [10]:
#importing df
df = pd.read_csv('properties_data.csv', low_memory=False)

In [11]:
#checking for dupes
df.duplicated().sum()

2

In [12]:
#dropping dupes
df.drop_duplicates()

,id,Available as of,Available date,Neighbourhood or locality,Primary energy consumption,Energy class,Reference number of the EPC report,CO₂ emission,Yearly theoretical total energy consumption,Planning permission obtained,...,Age of annuitants,EPC description,Percentage rented,Venue of the sale,Single session,Terms of visit,Starting price,Sea view,Floor,Number of floors
0,10578183,At delivery,January 15 2024 - 12:00 AM,Oost-Vlaanderen,Not specified,Not specified,Not specified,Not specified,Not specified,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10578809,After signing the deed,NaN,NaN,241 kWh/m² kilowatt hour per square meters,C,2149178,Not specified,Not specified,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10578941,NaN,October 1 2023 - 12:00 AM,NaN,292 kWh/m² kilowatt hour per square meters,C,20230505-0002321399-RES-2,Not specified,Not specified,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10577515,To be defined,August 31 2023 - 12:00 AM,Grand Liège,469 kWh/m² kilowatt hour per square meters,F,Not specified,8321 kg CO₂/m²,45861 kWh/year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10577846,NaN,NaN,NaN,196 kWh/m² kilowatt hour per square meters,C,20230218009533,41 kg CO₂/m²,43000 kWh/year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19971,9577413,NaN,October 1 2023 - 12:00 AM,NaN,Not specified,Not specified,Not specified,Not specified,Not specified,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0
19972,10563952,NaN,NaN,NaN,318 kWh/m² kilowatt hour per square meters,D,20230301-0002825358-RES-1,Not specified,Not specified,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,10.0
19973,9577415,NaN,October 1 2023 - 12:00 AM,NaN,Not specified,Not specified,Not specified,Not specified,Not specified,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0
19974,9577414,NaN,October 1 2023 - 12:00 AM,NaN,Not specified,Not specified,Not specified,Not specified,Not specified,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0
19975,9577410,NaN,October 1 2023 - 12:00 AM,NaN,Not specified,Not specified,Not specified,Not specified,Not specified,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0

In [13]:
#checking the dupes
df.duplicated().sum()

2

In [14]:
df.isnull().sum()

id                                0
Available as of                9663
Available date                16860
Neighbourhood or locality     16301
Primary energy consumption        0
                              ...
Terms of visit                19788
Starting price                19784
Sea view                      19924
Floor                         13404
Number of floors              13973
Length: 127, dtype: int64

In [15]:
#Size of original df
print(df.shape)

(19976, 127)

In [16]:
#Dropping the missing rows.
ds_dropped = df.dropna(how = 'any')