In [106]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [107]:
#importing df
df = pd.read_csv('properties_data.csv', low_memory=False)

In [108]:
# List of the colums we will be looking at
df = df[["id","location","Zip","Type","Subtype",
    "Price","Transaction Type","Bedrooms","Living area","Kitchen type",
    "Furnished","How many fireplaces?","Terrace","Terrace surface",
    "Garden","Garden surface","Surface of the plot","Number of frontages",
    "Swimming pool","Building condition"]]

In [109]:
#checking for dupes
df.duplicated().sum()

2

In [110]:
#dropping dupes
df = df.drop_duplicates()

In [111]:
#checking the dupes again
df.duplicated().sum()

0

In [112]:
# Convert integer columns to strings
df = df.astype(str)

In [113]:
# Remove leading and trailing whitespace from all columns
df = df.applymap(str.strip)

In [114]:
# Number of missing values in each column
df.isnull().sum()

id                      0
location                0
Zip                     0
Type                    0
Subtype                 0
Price                   0
Transaction Type        0
Bedrooms                0
Living area             0
Kitchen type            0
Furnished               0
How many fireplaces?    0
Terrace                 0
Terrace surface         0
Garden                  0
Garden surface          0
Surface of the plot     0
Number of frontages     0
Swimming pool           0
Building condition      0
dtype: int64

In [115]:
#Dropping the missing rows.
df = df.dropna(how = 'any')

In [116]:
# Remove rows with empty values (excluding NaN)
df = df.replace('', pd.NA).dropna()

In [117]:
# Reset the index after removing rows
df = df.reset_index(drop=True)

In [118]:
# Drop rows with "Type" equal to "house group"
df = df.drop(df[df['Type'] == 'house group'].index)

In [119]:
# Drop rows with "Type" equal to "apartment group"
df = df.drop(df[df['Type'] == 'apartment group'].index)

In [120]:
#Size of original df
print(df.shape)

(18663, 20)

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18663 entries, 1 to 19973
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    18663 non-null  object
 1   location              18663 non-null  object
 2   Zip                   18663 non-null  object
 3   Type                  18663 non-null  object
 4   Subtype               18663 non-null  object
 5   Price                 18663 non-null  object
 6   Transaction Type      18663 non-null  object
 7   Bedrooms              18663 non-null  object
 8   Living area           18663 non-null  object
 9   Kitchen type          18663 non-null  object
 10  Furnished             18663 non-null  object
 11  How many fireplaces?  18663 non-null  object
 12  Terrace               18663 non-null  object
 13  Terrace surface       18663 non-null  object
 14  Garden                18663 non-null  object
 15  Garden surface        18663 non-null  object
 16  Surface of the plot   18663 non-null  object
 17  Number of frontages   18663 non-null  object
 18  Swimming pool         18663 non-null  object
 19  Building condition    18663 non-null  object
dtypes: object(20)
memory usage: 3.0+ MB

In [122]:
# Save the cleaned DataFrame to a new file (e.g., 'cleaned_data.csv')
#df.to_csv('cleaned.csv')