In [73]:
import pandas as pd
import matplotlib as mpl
import numpy as np

In [74]:
#importing df
df = pd.read_csv('properties_data.csv', low_memory=False)

In [75]:
df = df[["id","location","Zip","Type","Subtype",
    "Price","Transaction Type","Bedrooms","Living area","Kitchen type",
    "Furnished","How many fireplaces?","Terrace","Terrace surface",
    "Garden","Garden surface","Surface of the plot","Number of frontages",
    "Swimming pool","Building condition"]]

In [76]:
#checking for dupes
df.duplicated().sum()

2

In [77]:
#dropping dupes
df = df.drop_duplicates()

In [78]:
#checking the dupes
df.duplicated().sum()

0

In [79]:
# Convert integer columns to strings
df = df.astype(str)

In [80]:
# Remove leading and trailing whitespace from all columns
df = df.applymap(str.strip)

In [81]:
#Number of missing values in each column
df.isnull().sum()

id                      0
location                0
Zip                     0
Type                    0
Subtype                 0
Price                   0
Transaction Type        0
Bedrooms                0
Living area             0
Kitchen type            0
Furnished               0
How many fireplaces?    0
Terrace                 0
Terrace surface         0
Garden                  0
Garden surface          0
Surface of the plot     0
Number of frontages     0
Swimming pool           0
Building condition      0
dtype: int64

In [82]:
#Dropping the missing rows.
df = df.dropna(how = 'any')

In [83]:
# Remove rows with empty values (excluding NaN)
df = df.replace('', pd.NA).dropna()

In [84]:
# Reset the index after removing rows
df = df.reset_index(drop=True)

In [85]:
# Drop rows with "Type" equal to "house group"
df = df.drop(df[df['Type'] == 'house group'].index)

In [86]:
# Drop rows with "Type" equal to "apartment group"
df = df.drop(df[df['Type'] == 'apartment group'].index)

In [87]:
#Size of original df
print(df.shape)

(18663, 20)

In [88]:
# Save the cleaned DataFrame to a new file (e.g., 'cleaned_data.csv')
df.to_csv('cleaning2.csv')